<div class="message" *ngIf="errors.length">
    {{ errors }}
</div>
<form 
    [formGroup]="loginForm"
    (submit)="login()">
    <div class="form-row">
        <label for="email">Email:</label>
        <input type="email" name="email" formControlName="email">
    </div>
    <div class="form-row">
        <label for="password">Password:</label>
        <input type="password" name="password" formControlName="password">
    </div>
    <div class="form-row">
        <button 
            type="submit"
            [disabled]="!loginForm.valid">Login!</button>
    </div>
</form>
