.form-row{
    display: flex;
    flex-direction: column;
    padding: 10px;
    
    input {
        border: solid 1px #ddd;
        padding: 10px;

        &:focus {
            outline: 0;
            border-color: lightblue;
        }
    }

    button {
        font-size: 1rem;
        flex: auto;
    }
}